@model ProfileViewModel
@{
    this.ViewData["Title"] = this.Model.User.UserName;
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>

    @if (!this.Model.IsCurrentUser)
    {
        String followAction = this.Model.IsFollowing ? "Unfollow" : "Follow";

        <br />
        
        <div class="row">
            <section>
                <form id="account" asp-controller="Following" asp-action="@followAction" asp-route-userName="@this.Model.User.UserName" asp-route-returnUrl="@this.Context.Request.Path" method="post">
                    <div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">@followAction</button>
                    </div>
                </form>
            </section>
        </div>
    }

    <hr />
    
    <table class="table">
        <thead>
            <tr>
                <th>@this.Html.DisplayNameFor(m => m.Posts[0].Created)</th>
                <th>@this.Html.DisplayNameFor(m => m.Posts[0].Content)</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (Post post in this.Model.Posts)
            {
                <tr>
                    <td>@this.Html.DisplayFor(m => post.Created)</td>
                    <td>@this.Html.DisplayFor(m => post.Content)</td>
                    <td>
                        <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">Details</a>

                        @if (this.Model.IsCurrentUser)
                        {
                            @: | 
                            @:<a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">Edit</a> | 
                            @:<a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (this.Model.Posts.Count == 0)
    {
        <br />
        <p>There are no posts to show.</p>
    }
</div>
